.heading {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 5fr;
  align-items: center;
  margin-bottom: 16px;
  .change,
  .price {
    justify-self: end;
  }
  .title {
    h4,p {
      margin: 0;
    }
  }
  
}
a {
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $secondary;
  }
}

.description {
  text-align: justify;
}