.global-market {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding : 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.global-market-item{
  text-align: center;
  display: grid;
  grid-template-rows: 40px auto;
  place-content: center;

  .content {
    margin-top: 10px;
  
  }
  .market-capacity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .market-capacity-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }    
  }

  .title {
    font-size: 0.8rem;
  }
}