.global-market {
  background-color: white;
  border-radius: 12px;
  padding : 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

  @include media-breakpoint-down(md){
    grid-template-columns:  1fr;
  }
}
.global-market-item{
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  .content {
    p {
      margin:0;
      font-size: 1.5rem;
    }
    span {
      font-size: small;
    }
  }

  .title {
    font-size: 0.8rem;
    margin: 0;
  }
}