.nav-item {
  .nav-link {
    color: $primary;
    margin-left: $horizontal-spacer;
    font-size: 14px;
    
    @include media-breakpoint-down(md){
      margin-left: 0;
    }
  }


}
.nav-link {
   color: $primary;
   text-decoration: none;
   font-weight: semi-bold;
   transition : all .2s ease;
   
   &:hover {
      transform: scale(1.06);
      color: $secondary;
      font-weight: bold;
    }
    
    @include media-breakpoint-down(md){
      &:hover {
        transform: scale(1.01);
        color: $secondary;
        font-weight: bold;
      }
   }
}