*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.main {
   background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #C4C4C4 100%), #FFFFFF;
   width: 100vw;
   height: 100vh;
   font-family: $font-base;
}
.box-inner {
   margin-inline: $spacer * 2;
   @include media-breakpoint-down(md){
      margin-inline: $spacer * 1.5 ;
   }
}
a {
   color: $primary;
   text-decoration: none;
   transition : all .2s ease;
   
   &:hover {
      transform: scale(1.05);
      color: $secondary;
   }

   @include media-breakpoint-down(md){
       &:hover {
      transform: scale(1.01);
      color: $secondary;
   }
   }
}